# Compiler files
cache/
out/**/
!out/FullRestakeDecreaseHook.sol/
!out/FullRestakeResetHook.sol/
!out/NetworkRestakeDecreaseHook.sol/
!out/NetworkRestakeRedistributeHook.sol/
!out/NetworkRestakeResetHook.sol/
!out/OperatorSpecificDecreaseHook.sol/
!out/OperatorSpecificResetHook.sol/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Other files
.gas-snapshot
lcov.info

node_modules
package-lock.json